-e sub/epyqlib

-e git+https://github.com/altendky/graham@3c66af305a82d88c70cceefe3b7cc2aea3b672ca#egg=graham
-e git+https://github.com/altendky/pycparser@b19d2b7cb78bccc89ef187c1c4eb5db0fdd3bbf9#egg=pycparser

attrs==17.2.0
click==6.7
pyqt5==5.9
requests==2.18.4
sip==4.19.3
tox==2.8.2
