-e sub/epyqlib

-e git+https://github.com/altendky/graham@349b47eb41669ce23b63326ebba6e0647107b41a#egg=graham

attrs==17.2.0
click==6.7
pycparser==2.18
pyqt5==5.9
requests==2.18.4
sip==4.19.3
tox==2.8.2
